{% macro flatten_config(config, help, prefix='') %}
  {% for key, value in config.items() %}
    {% set full_key = prefix ~ key if prefix == '' else prefix ~ '.' ~ key %}
    {% set help_entry = help.get(key, {}) %}
    {% set has_type = help_entry.get('Type') %}
    {% set should_expand = value is mapping and value|length > 0 and not has_type %}
    {% if should_expand %}
      {{ flatten_config(value, help_entry, full_key) }}
    {% else %}
      <tr>
        <td style="min-width: 200px;">
          <code class="param_name">{{ full_key }}</code>
        </td>
        <td class="description_text">{{ (help_entry.Description or '') | markdown_inline | safe }}</td>
        <td style="text-align: center;">
          {% if help_entry.Type %}
            <span class="{{ help_entry.Type }}_table">{{ value }}</span>
          {% else %}
            {{ value }}
          {% endif %}
        </td>
        <td style="text-align: center; min-width: 100px;">
          {% if help_entry.Units %}
            <span class="units_text">{{ help_entry.Units | format_units | safe }}</span>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% set simple_params = [] %}
{% set nested_sections = [] %}
{% for section_key, section_value in module.items() %}
  {% set section_help = module_help.get(section_key, {}) %}
  {% set section_has_type = section_help.get('Type') %}
  {% if section_value is mapping and section_value|length > 0 and not section_has_type %}
    {% set _ = nested_sections.append((section_key, section_value, section_help)) %}
  {% else %}
    {% set _ = simple_params.append((section_key, section_value, section_help)) %}
  {% endif %}
{% endfor %}

Description of the parameters:

{% if simple_params|length > 0 %}
<table>
  <thead>
    <tr>
      <th style="width: 25%;">Name</th>
      <th style="width: 40%;">Description</th>
      <th style="width: 20%; text-align: center;">Default value</th>
      <th style="width: 15%; text-align: center;">Units</th>
    </tr>
  </thead>
  <tbody>
{%- for section_key, section_value, section_help in simple_params %}
    <tr>
      <td>
        <code class="param_name">{{ section_key }}</code>
      </td>
      <td class="description_text">{{ (section_help.Description or '') | markdown_inline | safe }}</td>
      <td style="text-align: center;">
        {% if section_help.Type %}
          <span class="{{ section_help.Type }}_table">{{ section_value }}</span>
        {% else %}
          {{ section_value }}
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if section_help.Units %}
          <span class="units_text">{{ section_help.Units | format_units | safe }}</span>
        {% endif %}
      </td>
    </tr>
{%- endfor %}
  </tbody>
</table>
{% endif %}

{% for section_key, section_value, section_help in nested_sections %}
  <details class="param-section" id="{{ section_key }}">
    <summary class="param-section-title">
      <code>{{ section_key }}</code>
      {% if section_help.Description %}
      <span class="section-desc">{{ (section_help.Description or '') | markdown_inline | safe }}</span>
      {% endif %}
    </summary>
    <table>
      <thead>
        <tr>
          <th style="width: 25%;">Name</th>
          <th style="width: 40%;">Description</th>
          <th style="width: 20%; text-align: center;">Default value</th>
          <th style="width: 15%; text-align: center;">Units</th>
        </tr>
      </thead>
      <tbody>
{{ flatten_config(section_value, section_help, section_key) }}
      </tbody>
    </table>
  </details>
{% endfor %}

{{ render_yaml_citations() }}
