.home-text {
  font-size: 24px;
  color: #fff;
  margin: 20px 0;
  text-align: left;
}

.landing-container {
  margin-top: 10%;
  margin-left: 13%;
  max-width: 600px;
  text-align: left;
  /* background-image: radial-gradient(circle, #4b48df, #3073d7); */
  /* padding: 50px; */
}
.landing-buttons {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

[data-md-color-scheme="glacier_dark"] .landing-buttons button {
	display: inline-block;
  background-image: linear-gradient(45deg, #df48c6, #3073d7);
  border-radius: 30px;
  border-top-right-radius: 0;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /*font color */
  cursor: pointer;
  transition: 0.5s;
}

[data-md-color-scheme="glacier_light"] .landing-buttons button {
	display: inline-block;
  background-image: linear-gradient(45deg, #4b48df, #3073d7);
  border-radius: 30px;
  border-top-right-radius: 0;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /*font color */
  cursor: pointer;
  transition: 0.5s;
}

[data-md-color-scheme="glacier_dark"] .landing-buttons button:hover {
  background-image: linear-gradient(45deg, #3073d7, #4b48df);
  border-top-right-radius: 30px;
}

[data-md-color-scheme="glacier_light"] .landing-buttons button:hover {
  background-image: linear-gradient(45deg, #df48c6, #4b48df);
  border-top-right-radius: 30px;
}

[data-md-color-scheme="glacier_light"] .landing-container h1 {
  font-size: 70px;
  color: #16161c;
  margin-bottom: 20px;
}

[data-md-color-scheme="glacier_dark"] .landing-container h1 {
  font-size: 70px;
  color: #f1f4f8;
  margin-bottom: 20px;
}


[data-md-color-scheme="glacier_light"] .landing-container p {
  font-size: 20px;
  color: #16161c;
  margin: 10px 0 30px;
}

[data-md-color-scheme="glacier_dark"] .landing-container p {
  font-size: 20px;
  color: #f1f4f8;
  margin: 10px 0 30px;
}

.feature-img {
  width: 700px;
  position: absolute;
  right: 10%;
  top: 30%;
  border-radius: 10px;
  /* height: auto; */
  /* margin-top: 20px; */
}



/* [data-md-color-scheme="default"] .feature-img, */
[data-md-color-scheme="glacier_light"] .feature-img {
  content: url("../assets/images/IGM_landing_page_light.jpeg");
}


/* Image for dark theme */
[data-md-color-scheme="glacier_dark"] .feature-img {
  content: url("../assets/images/IGM_landing_page_dark.jpeg");
}
/* .md-nav__item.md-nav__item--active {
  display: none !important;
} */

/* .landing-container ~ .md-nav--lifted>.md-nav__list>.md-nav__item--active {
  display: none
} */

.landing-page .md-nav__item.md-nav__item--active .md-ellipsis {
  display: none;
}

.landing-page .md-sidebar__scrollwrap {
  display: none;
}